# RABBITMQ CONFIGURATION
RABBITMQ_VERSION=<VERSION>
RABBITMQ_DEFAULT_USER=<USER>
RABBITMQ_DEFAULT_PASS=<PASSWORD>
RABBITMQ_DEFAULT_VHOST=<VHOST> # Especifica el vhost que Celery usará para conectarse a RabbitMQ. Debe coincidir con la configuración de Celery.
RABBITMQ_DATA=<RUTA_ABSOLUTA_O_RELATIVA>/rabbitmq_data # Ruta para almacenar los datos de RabbitMQ (colas, mensajes, etc.)
RABBITMQ_LOGS=<RUTA_ABSOLUTA_O_RELATIVA>/rabbitmq_logs # Ruta para almacenar los logs de RabbitMQ

# REDIS CONFIGURATION
REDIS_VERSION=<VERSION>
REDIS_DATA=<RUTA_ABSOLUTA_O_RELATIVA>/redis_data # Ruta para almacenar los datos de Redis (si es necesario, aunque Redis suele ser in-memory)
REDIS_PASSWORD=<PASSWORD> # Contraseña para Redis (opcional pero recomendado, especialmente si usas RedisInsight o lo expones a la red)

# CELERY CONFIGURATION

# FLOWER CONFIGURATION
FLOWER_VERSION=<VERSION>

