# RABBITMQ CONFIGURATION
RABBITMQ_VERSION=<VERSION>
RABBITMQ_DEFAULT_USER=<USER>
RABBITMQ_DEFAULT_PASS=<PASSWORD>
RABBITMQ_DEFAULT_VHOST=<VHOST> # Especifica el vhost que Celery usará para conectarse a RabbitMQ. Debe coincidir con la configuración de Celery.
RABBITMQ_DATA=<RUTA_ABSOLUTA_O_RELATIVA>/rabbitmq_data # Ruta para almacenar los datos de RabbitMQ (colas, mensajes, etc.)
RABBITMQ_LOGS=<RUTA_ABSOLUTA_O_RELATIVA>/rabbitmq_logs # Ruta para almacenar los logs de RabbitMQ

# REDIS CONFIGURATION
REDIS_VERSION=<VERSION>
REDIS_DATA=<RUTA_ABSOLUTA_O_RELATIVA>/redis_data # Ruta para almacenar los datos de Redis (si es necesario, aunque Redis suele ser in-memory)
REDIS_PASSWORD=<PASSWORD> # Contraseña para Redis (opcional pero recomendado, especialmente si usas RedisInsight o lo expones a la red)

# CELERY CONFIGURATION

# FLOWER CONFIGURATION
FLOWER_VERSION=<VERSION>

# POSTGRESQL CONFIGURATION
POSTGRES_VERSION=<VERSION>
POSTGRES_USER=<USER>
POSTGRES_PASSWORD=<PASSWORD>
POSTGRES_DB=<DATABASE_NAME>
POSTGRES_DATA=<RUTA_ABSOLUTA_O_RELATIVA>/postgres_data # Ruta para almacenar los datos de PostgreSQL (bases de datos, tablas, etc.)
POSTGRES_SCRIPTS=<RUTA_ABSOLUTA_O_RELATIVA>/postgres_scripts # Ruta para almacenar scripts SQL personalizados (opcional, pero útil para inicializar la base de datos con tablas, datos de prueba, etc.)

# ADMINER CONFIGURATION
ADMINER_VERSION=<VERSION>

# SEAWEEDFS CONFIGURATION
SEAWEEDFS_VERSION=<VERSION>
SEAWEEDFS_MASTER_DATA=<RUTA_ABSOLUTA_O_RELATIVA>/seaweedfs_master_data # Ruta para almacenar los datos del master de SeaweedFS
SEAWEEDFS_VOLUME_DATA=<RUTA_ABSOLUTA_O_RELATIVA>/seaweedfs_volume_data # Ruta para almacenar los datos del volumen de SeaweedFS
SEAWEEDFS_FILER_DATA=<RUTA_ABSOLUTA_O_RELATIVA>/seaweedfs_filer_data # Ruta para almacenar los datos del filer de SeaweedFS
# SEAWEEDFS_PROMETHEUS_DATA=<RUTA_ABSOLUTA_O_RELATIVA>/seaweedfs_prometheus_data # Ruta para almacenar los datos de configuración de Prometheus para SeaweedFS
AWS_CLI_VERSION=<VERSION> # Versión de AWS CLI para usar en el contenedor de inicialización de SeaweedFS S3


