# Mongo DB
MONGODB_HOST=<mongodb_host>
MONGODB_PORT=<mongodb_port>
MONGODB_DATABASE=<mongodb_database>
MONGODB_USER=<mongodb_user>
MONGODB_PASSWORD=<mongodb_password>

# Minio
MINIO_BUCKET=<minio_bucket>
MINIO_HOST=<minio_host>
MINIO_PORT=<minio_port>
MINIO_SCHEME=<minio_scheme>
MINIO_ACCESS_KEY=<minio_access_key>
MINIO_SECRET_KEY=<minio_secret_key>
MINIO_REGION=<minio_region>

# Cvat 
CVAT_HOST=<cvat_host>
CVAT_PORT=<cvat_port>
CVAT_SCHEME=<cvat_scheme>
CVAT_USER=<cvat_user>
CVAT_PASSWORD=<cvat_password>