pymongo>=4.9.2
boto3>=1.38.44
boto3-stubs[essential]>=1.38.44
tqdm>=4.67.1
typer>=0.16.0
numpy>=2.3.0
pydantic>=2.11.7
cvat-sdk==2.42.0
kml2geojson>=5.1.0
pandas>=2.3.0
geopandas>=1.1.0
fastkml>=1.1.0
shapely>=2.1.1
lxml>=5.4.0
opencv-python>=4.11.0.86
matplotlib>=3.10.3
layoutparser>=0.3.4
pycocotools>=2.0.10
supervision>=0.25.1
pytest>=8.4.1
scikit-learn>=1.7.1
beautifulsoup4>=4.13.4
deprecated>=1.2.18