article {
    height: 100%;
}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

table {
  width: 100%;
  padding-top: 10px;
}

